.App {
  text-align: center;
}

.nav {
  margin-bottom: 0;
  background-color: #FFF;
  color: #1ec7c7;
  font-size: 35px;
  padding: 10px;
  letter-spacing: -1px;
  border-bottom: 3px solid #22DDDE;
}

.logo {
  display: inline-block;
  margin-left: 2%;
  float: left;
  padding: 50px 0;
}

.library {
    display: inline-block;
    float: right;
}

.libraryy {
  margin-top: 2%;
}

#Title{
  display: inline-block;
  color: #22DDDE;
}

h2 {
  color: #f4428c; 
  text-align: center; 
}

#album-info {
  margin-top: 2%;
}

#song-list {
  display: inline-block;
  border-style: solid;
  border-width: 5px;
}

.player-bar {
  display: inline-block;
}